.container {
    display: grid;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 10fr 1fr 4fr;
    grid-template-areas:
        'panel title .'
        'panel main .'
        'panel timer start'
        'panel controls debug';
    max-height: 100dvh;
    height: 100dvh;
    justify-items: center;
}

.debug {
    grid-area: debug;
}