.title {
    grid-area: title;
    @media (max-width: 636px) {
        font-size: 28px;
    }
    @media (min-width: 637px) {
        font-size: 42px;
    }
}

.panel {
    grid-area: main;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 'input' 'start';
    grid-gap: 20px;
    justify-content: center;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
}

.input-box {
    border: none;
    border-bottom: 1px solid black;
    font-size: 16px;
    padding: 10px 20px;
    margin: 20px 0;
}
.input-box:focus {
    outline: none;
}

.button {
    display: block;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;

    padding: 10px 40px;
    border-radius: 10px;
    background: blue;
    color: white;

    font-size: 16px;
    font-family: inherit;

    box-shadow: 0 10px #000091;

    &:hover {
        box-shadow: 0 6px #000091;
        top: 4px;
    }

    &:active {
        box-shadow: 0 2px #000091;
        top: 8px;
        transition-duration: 0.2s;
    }
}