.card {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 283px;
  height: 440px;
  max-width: 250px;
  max-height: 375px;
  margin: 8px;
  cursor: pointer;
  transition: all .2s ease-in;
}

.paper{
  background-image: url("../cards/paper@1.png");
  composes: card;
  &:hover {
    transform: translate(0,-20px);
    background: url("../cards/paper-active.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.paperx{
  composes: paper;
  transform: translate(0,-20px);
  background: url("../cards/paper-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.rock{
  background-image: url("../cards/rock@1.png");
  composes: card;
  &:hover {
    transform: translate(0,-20px);
    background: url("../cards/rock-active.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.rockx{
  composes: rock;
  transform: translate(0,-20px);
  background: url("../cards/rock-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.scissors{
  background-image: url("../cards/scissors@1.png");
  composes: card;
  &:hover {
    transform: translate(0,-20px);
    background: url("../cards/scissors-active.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.scissorsx {
  composes: scissors;
  transform: translate(0,-20px);
  background: url("../cards/scissors-active.png");
  background-repeat: no-repeat;
  background-size: contain;
}